
.text-input {
    padding: .5rem;
    font-size: 16px;
    width: 100%;
    display: block;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.text-input:focus {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
    outline: none;
}

.error .text-input {
    border-color: red;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.error .label {
    color: red;
}

.input-feedback {
    color: #999;
    margin-top: .25rem;
}

.error .input-feedback {
    color: red;
}

.animated {
    animation-duration: .3s;
    animation-fill-mode: both;
}

.input-group {
    margin-bottom: 1rem;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    animation-name: shake;
}